<div class="container">

    <div class="col-md-9">
        <h1>Form examples</h1>

        <div ng-include="formlink"></div>
    </div>
    <div class="col-md-3">
        <div>
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li role="presentation" class="active"><a href ng-click="changePage('basicform')">Basic</a></li>
                <li role="presentation"><a href ng-click="changePage('validationform')">Validation</a></li>
            </ul>
        </div>
    </div>
</div>